<div class='my-5 pt-5'>
  <h2 class='text-center'>Create new recipe</h2>
  <%= form_with model: Recipe.new , url: recipes_path, method: :post, local: true, scope: :recipe do |f| %>
    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-2 mb-3">
        <%= f.label :preparation_time, class: "form-label" %>
        <%= f.number_field :preparation_time, class: "form-control" %>
      </div>
      <div class="col-md-2 mb-3">
        <%= f.label :cooking_time, class: "form-label" %>
        <%= f.number_field :cooking_time, class: "form-control" %>
      </div>
      <div class="col-md-2 mb-3">
        <label class="form-label" for="visibility">Visibility Preference</label>
        <select class="form-select" id="visibility">
          <option selected>Public</option>
          <option value="1">Private</option>
        </select>
      </div>
      <div class="mb-3">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit 'Post recipe', class:"btn btn-primary mb-3" %>
      </div>
    </div>
  <% end %>
</div>
