<div>
  <h2><%= @recipe.name%></h2>
  <p><%= @recipe.preparation_time%>hours</p>
  <p><%= @recipe.cooking_time%> hours</p>
  <pre><%= @recipe.description%></pre>
  <%= render 'shared/visibility_toggle', recipe: @recipe %>
  <%= render 'shared/delete_recipe', recipe: @recipe %>
</div>
