<div class="container">
  <h1 class="mt-5">Shopping List</h1>
  <div class="mt-3">
    <span class="me-3">Amount of food items to buy: <span class="text-danger font-weight-bold"><%= @food_items %></span></span>
    <span>Total value of food needed:  $<span class="text-danger font-weight-bold"><%= @price_sum %></span></span>
  </div>
  <section class="mt-4">
    <table class="table table-bordered" id="foods">
      <thead class="table-primary">
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td>
              <%= food.name %>
            </td>
            <td>
              <%= food.quantity %>
            </td>
            <td>
              <%= food.price %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
